NET CLK100       LOC = Y9   |IOSTANDARD=LVCMOS33;  # "GCLK"
NET "clk100" TNM_NET = clk100;
TIMESPEC TS_clk100 = PERIOD "clk100" 10 ns HIGH 50%;

# VGA out
NET vga_b<0>       LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
NET vga_b<1>       LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
NET vga_b<2>       LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
NET vga_b<3>       LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
NET vga_g<0>      LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
NET vga_g<1>      LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
NET vga_g<2>      LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
NET vga_g<3>      LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
NET vga_r<0>        LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
NET vga_r<1>        LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
NET vga_r<2>        LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
NET vga_r<3>        LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
NET vga_hsync         LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
NET vga_vsync         LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"

NET "BTNL" LOC = "N15" | IOSTANDARD=LVCMOS18;
NET "BTNC" LOC = "P16" | IOSTANDARD=LVCMOS18; 
NET "BTNR" LOC = "R18" | IOSTANDARD=LVCMOS18;

NET "OV7670_PWDN"    LOC = "Y11"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW; # JA0
NET "OV7670_RESET"   LOC = "AB11" | IOSTANDARD=LVCMOS33 | SLEW=SLOW; # JA4
NET "OV7670_DATA<0>" LOC = "AA11" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA1
NET "OV7670_DATA<1>" LOC = "AB10" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA5
NET "OV7670_DATA<2>" LOC = "Y10"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA2
NET "OV7670_DATA<3>" LOC = "AB9"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA6
NET "OV7670_DATA<4>" LOC = "AA9"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA3
NET "OV7670_DATA<5>" LOC = "AA8"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JA7

NET "OV7670_DATA<6>" LOC = "W12" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JB0
NET "OV7670_DATA<7>" LOC = "V12" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLDOWN; # JB4
NET "OV7670_XCLK"    LOC = "W11" | IOSTANDARD=LVTTL    | SLEW=SLOW | PULLDOWN; # JB1
NET "OV7670_PCLK"    LOC = "W10" | IOSTANDARD=LVTTL    | SLEW=SLOW; # JB5
NET "OV7670_HREF"    LOC = "V10" | IOSTANDARD=LVCMOS33 | SLEW=SLOW; # JB2
NET "OV7670_VSYNC"   LOC = "V9"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW; # JB6
NET "OV7670_SIOD"    LOC = "W8"  | IOSTANDARD=LVTTL    | SLEW=SLOW | PULLUP; # JB3
NET "OV7670_SIOC"    LOC = "V8"  | IOSTANDARD=LVTTL    | SLEW=SLOW; # JB7

NET "OV7670_PCLK"    CLOCK_DEDICATED_ROUTE = FALSE;

NET "config_finished"  LOC = "T22" | IOSTANDARD=LVTTL ; 

